html {
  text-align: center;
  font-size: 62.5%;
}

#header-title {
  font-size: 5.5rem;
  color: #b97375;
  text-shadow: gray 2px 1px 2px;
}

#title {
  font-size: 3.8rem;
  text-shadow: silver 1px 1px 2px;
}

#problem {
  font-size: 5.5rem;
}

#points {
  font-size: 4.5rem;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1e4e8;
}

main {
  display: flex;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  border: 5px solid #e2dcde;
  /* border-right: none; */
  background-color: #ceb1be;
}

.side-btn {
  border: none;
  font-size: 2.5rem;
  /* margin: 5%; */
  color: rgb(35, 34, 34);
  padding: .4em;
  border-radius: 8px;
  box-shadow: 0 9px #999;
}

.side-btn:active {
  background-color: #b97375;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#pointsBtn {
  margin: 4%;
  font-size: 2.5rem;
  padding: .4em;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 20px #999;
}

#pointsBtn:active {
  background-color: #ba85ac;
  box-shadow: -1px 1px 50px #666;
  transform: translateY(4px);
}

/* button {
  margin: 5%;
} */

.games {
  border: 1px solid green;
  height: 100%;
  width: 100%;
}
.screen {
  border: 10px solid brown;
  /* margin: 10px;
  padding: 10px; */
  background-color: RGB(39,76,67);
  color: white;
}

img {
  width: 100%;
}



#one {
  border: 2px black solid;
  background: rgb(246, 89, 89);
  margin: 10%;
}

#two {
  border: 2px black solid;
  background: rgb(208, 73, 95);
  margin: 10%;
}

#three {
  border: 2px black solid;
  background: rgb(133, 49, 49);
  margin: 10%;
}

#four {
  border: 2px black solid;
  background: rgb(155, 74, 74);
  margin: 10%;
}

#five {
  border: 2px black solid;
  background: rgb(122, 67, 67);
  margin: 10%;
}
